---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos de Joel TCHINDA" description="À propos de Joel TCHINDA">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi-même et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="programing image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je vraiment ?</h2>
				<div class="content">
					<p>
						Je suis un passionné de nouvelles technologies et d'intelligence artificielle, constamment à la recherche de nouvelles façons
						d'innover et de repousser les limites du possible. Mon parcours académique et professionnel reflète cette passion, avec une 
						formation en informatique suivie d'une immersion dans le monde de l'analyse de données. Utilisant les dernières avancées en 
						matière d'IA et l'API astro, j'ai conçu mon portfolio comme un témoignage vivant de mon engagement envers l'innovation. En 
						tant que professionnel curieux et avide d'apprendre, je suis prêt à explorer de nouvelles opportunités et à contribuer 
						activement au domaine de l'analyse de données et de l'intelligence artificielle. Actuellement à la recherche d'une alternance, 
						je suis enthousiaste à l'idée de mettre mes compétences au service d'une entreprise dynamique et innovante dans le cadre d'un 
						programme d'apprentissage enrichissant.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Ayant débuté mon parcours en informatique par une formation en prépa MPSI suivie d'un cycle ingénieur en informatique
 						à l'École d'Ingénieurs 3il, j'ai acquis une solide base technique et méthodologique. Durant cette période, j'ai développé
						un intérêt marqué pour l'analyse de données, en particulier dans le domaine du Big Data. Mon expérience en tant qu'apprenti 
						gestionnaire de données chez Boston SARL m'a permis de mettre en pratique mes connaissances théoriques et de développer mes
						compétences en manipulation et analyse de données. Parallèlement, en tant que graphiste 
						freelance, j'ai développé ma créativité et mon sens de l'esthétique, des atouts essentiels dans le domaine de la présentation
						visuelle des données. Ces expériences variées m'ont façonné en tant que professionnel polyvalent et curieux, prêt à relever 
						de nouveaux défis dans le domaine de l'analyse de données.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><strong>3iL Ingénieurs | Ingénieur Informatique BAC+5 (2022 – 2025)</strong>
						<br>
						Cours : Java, JavaFX, SQL, UML, PHP, Architectures 
						d’ordinateur, système d’exploitation, réseaux , gestion de 
						projet, sensibilisation à la sécurité informatique.
						<br><br>
						<strong>CLASSES PRÉPARATOIRES MPSI | PREPAVOGT (2020 – 2022)</strong>
						<br>
						Cours: Algorithmique, Programmation C, Sciences de 
						l’ingénieur, Algèbre, Analyse.
						<br><br>
						<strong>Collège Jean Tabi (2020 – 2021)</strong>Collège Jean Tabi (2020 – 2021)
						<br>
						BAC S obtenu avec mention «Bien».</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Atouts</h2>
				<div class="content">
					<p>•Rigueur
						•Esprit d'équipe
						•Bonne Capacité d'adaptation 
						•Bon sens de la Communication</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
